<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tinybee.ke.biz.cms.mapper.CmsLiveMapper">
    <select id="page" resultType="cn.tinybee.ke.biz.cms.entity.CmsLive">
        select * from t_cms_live where deleted = false
    </select>
</mapper>
